.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    margin: 10px;
}

.product-image {
    aspect-ratio: 9/16;
    object-fit: cover;
}


.product-info {
    padding: 10px;
    text-align: center;
}

.product-title {
    font-size: 1.2rem;
    font-weight: bold;
    height: 2.8rem; /* ou 3rem selon ce qui rend bien */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* limite à 2 lignes */
    -webkit-box-orient: vertical;
  }
  

.product-size, .product-marque, .product-price {
    font-size: 1rem;
    margin: 5px 0;
}

.product-favorite {
    font-size: 1.2rem;
    color: red;
}
