.product-card {
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes */

    height: 100%;
  }
  
  .product-card:hover {
    transform: translateY(-3px);
  }
  
  .product-image-container-product {
    position: relative;
    border-radius: 0.375rem;
    overflow: hidden;
    padding-top: 133%; /* 4:3 Aspect Ratio */
    margin-bottom: 0.5rem;
  }
  
  .product-image-product {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .favorite-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #a0aec0;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .favorite-button:hover {
    color: #ef4444;
    background-color: #fef2f2;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.25rem;
  }
  
  .product-price-size {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
  }
  
  .product-price {
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .product-size {
    font-size: 0.75rem;
    color: #718096;
  }
  
  .product-brand {
    font-size: 0.8rem;
    color: #718096;
    margin-bottom: 0.1rem;
  }
  
  .product-name {
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .overlay-carousel {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .overlay-carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out;
    border-radius: 6px;
  }
  